<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>25.07.2020</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, suscipit, dolorem quis rem aut alias voluptate libero nobis, reprehenderit distinctio possimus! Odit cum aliquid assumenda, corrupti ipsa quisquam ea in nemo porro provident eos temporibus? Autem cupiditate facilis quo dolore officia, eius velit tempora odio optio, voluptate vel? Expedita, tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, suscipit, dolorem quis rem aut alias voluptate libero nobis, reprehenderit distinctio possimus! Odit cum aliquid assumenda, corrupti ipsa quisquam ea in nemo porro provident eos temporibus? Autem cupiditate facilis quo dolore officia, eius velit tempora odio optio, voluptate vel? Expedita, tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, suscipit, dolorem quis rem aut alias voluptate libero nobis, reprehenderit distinctio possimus! Odit cum aliquid assumenda, corrupti ipsa quisquam ea in nemo porro provident eos temporibus? Autem cupiditate facilis quo dolore officia, eius velit tempora odio optio, voluptate vel? Expedita, tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, suscipit, dolorem quis rem aut alias voluptate libero nobis, reprehenderit distinctio possimus! Odit cum aliquid assumenda, corrupti ipsa quisquam ea in nemo porro provident eos temporibus? Autem cupiditate facilis quo dolore officia, eius velit tempora odio optio, voluptate vel? Expedita, tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, suscipit, dolorem quis rem aut alias voluptate libero nobis, reprehenderit distinctio possimus! Odit cum aliquid assumenda, corrupti ipsa quisquam ea in nemo porro provident eos temporibus? Autem cupiditate facilis quo dolore officia, eius velit tempora odio optio, voluptate vel? Expedita, tempore.</p>
    </div>
</div>
